<nav class="navbar navbar-light bg-light pt-5 ">
    <div class="container-fluid d-flex align-items-end">
        <a class="navbar-brand logo d-flex align-items-end" href="/"><img src="/assets/Logo/logo1.png" alt=""
                class="pe-3"> Rate My Workplace</a>
        <form class="d-flex">
            <a class="nav-link link-secondary" href="/query/resources">Resources</a>
            {{#if logged_in}}
            <a class="nav-link link-secondary" id='logout-button' href="">Logout</a>
            {{else}}
            <a class="nav-link link-secondary" href="/login">Log in/Sign up</a>
            {{/if}}
            <a class="nav-link link-secondary" href="/query/companies">Company List</a>
            <a class="nav-link link-secondary" href="/query/about-us">About Us</a>
        </form>
    </div>
</nav>


<main class="d-flex justify-content-center mainBody">
    <div class="row my-5">
        <div class="card row col-sm-12 container mb-5 bg-light">
            <div class="card-body text-center">
                <h1>About Us</h1>
            </div>
        </div>

        <div class="row mx-5 text-center">

            <div class="card col-sm-12 col-md-6 col-lg-4 bg-light mx-2 my-2">
                <img src="/assets/Jeremy.jpg" class="card-img-top" alt="Jeremy">
                <div class="card-body">
                    <h5 class="card-title">Jeremy Joanet - Project Manager</h5>
                    <p class="card-text">Born and raised in Chicago, I have walked many miles in many shoes. 
                        I have worked in multiple industries including retail, sales, military service, computer repair, construction, and most recently; emergency medicine.
                        I have decided to change careers into programming as it's been an out of reach dream for me for the majority of my still short life.
                        Ambitious and educationally unchained, I plan to grow this career into one I can look back on with pride, and enjoy every step of the way.</p>
                    <a href="https://github.com/Vygoth" target="_blank" class="btn btn-secondary">Github</a>
                </div>
            </div>

            <div class="card col-sm-12 col-md-6 col-lg-4 bg-light mx-2 my-2">
                <img src="/assets/Alfredo.jpg" class="card-img-top" alt="Alfredo">
                <div class="card-body">
                    <h5 class="card-title">Alfredo Tlahuel - Backend Developer / Presentation Layout</h5>
                    <p class="card-text">Alfredo Tlahuel, a 25 year old born and raised in the windy city of Chicago who has passion for lots of things but in particular music. 
                        Ever since a kid, every instrument he got in his hands, somehow managed to learn how to play at the very least the basics. 
                        He currently lives in the northwest suburbs of Chicago. He went from working in restaurants, warehouse logistics, construction to being a commercial Driver. 
                        After long years of struggles, has now decided to join the Full stack Development coding boot at Northwestern University looking for new and better opportunities.</p>
                    <a href="https://github.com/Vfredo602" target="_blank" class="btn btn-secondary">Github</a>
                </div>
            </div>

            <div class="card col-sm-12 col-md-6 col-lg-4 bg-light mx-2 my-2">
                <img src="/assets/Justin.jpg" class="card-img-top" alt="Justin">
                <div class="card-body">
                    <h5 class="card-title">Justin Lindsey - Frontend Designer / Backend Developer</h5>
                    <p class="card-text">Justin Lindsey is a Fullstack Development Student at Northwestern Universities Bootcamp.
                         He has a broad range of experience, from customer service to graphic design and is now becoming a fullstack dev. 
                         Justin strives to find adventure and create things that make the lives of everyone that touches them better. 
                         His dream job would be working for a truly creative place like Disney or Pixar. He enjoys many nerdy things in his down time, like D&D, , board games, Video games and reading. 
                         He is originally from California and has lived on both coasts, but now resides in Aurora, Il with his wife, Sarah and pup daughter, Charlotte. Will work for food and new games.</p>
                    <a href="https://github.com/JusticeGTR" target="_blank" class="btn btn-secondary">Github</a>
                </div>
            </div>

            <div class="card col-sm-12 col-md-6 col-lg-4 bg-light mx-2 my-2">
                <img src="/assets/Melanie.jpg" class="card-img-top" alt="Melanie">
                <div class="card-body">
                    <h5 class="card-title">Melanie Uhrich - Backend Developer</h5>
                    <p class="card-text">Melanie Uhrich is a recent graduate from the University of Illinois Urbana-Champaign with a degree in International Relations & Spanish. 
                        After some time searching for what she wanted to do next, she decided to enroll in Northwestern University’s Coding Bootcamp in pursuit of a creative and challenging career with plenty of opportunity for growth. 
                        In her free time, she enjoys reading, making music, and spending time with her dogs.</p>
                    <a href="https://github.com/melanieuhrich" target="_blank" class="btn btn-secondary">Github</a>
                </div>
            </div>
        </div>
    </div>
</main>