<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
        <h1 class="display-4">About Us</h1>
    </div>
</div>
<br>
<br>
<br>
<div class="row bio-row">
    <div class="card bg-light col bio" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Jeremy Joanet</h5>
            <h6 class="card-subtitle mb-2 text-muted">Project Manager</h6>
            <p class="card-text">~Insert bio here~</p>
            <a href="#" class="card-link">~Insert GitHub here~</a>
        </div>
    </div>
    <div class="card bg-light col bio" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Melanie Uhrich</h5>
            <p class="card-text">~Insert bio here~</p>
            <a href="#" class="card-link">https://github.com/melanieuhrich</a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row bio-row">
    <div class="card bg-light col bio" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Justin Lindsey</h5>
            <p class="card-text">~Insert bio here~</p>
            <a href="#" class="card-link">~Insert GitHub here~</a>
        </div>
    </div>
    <div class="card bg-light col bio" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Alfredo Tlahuel</h5>
            <p class="card-text">~Insert bio here~</p>
            <a href="#" class="card-link">~Insert GitHub here~</a>
        </div>
    </div>
</div>