<div class="row my-5">
    <div class="card row col-sm-12 container mb-5 bg-light">
        <div class="card-body text-center">
            <h1>About Us</h1>
        </div>
    </div>

    <div class="container row mx-5 text-center">

        <div class="card col-sm-12 col-md-6 col-lg-3 bg-light mx-2 my-2">
            <img src="/assets/Jeremy.jpg" class="card-img-top" alt="Jeremy">
            <div class="card-body">
                <h5 class="card-title">Jeremy Joanet</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://github.com/Vygoth" target="_blank" class="btn btn-primary">Github</a>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-3 bg-light mx-2 my-2">
            <img src="/assets/Alfredo.jpg" class="card-img-top" alt="Alfredo">
            <div class="card-body">
                <h5 class="card-title">Alfredo Tlahuel</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://github.com/Vfredo602" target="_blank" class="btn btn-primary">Github</a>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-3 bg-light mx-2 my-2">
            <img src="/assets/Justin.jpg" class="card-img-top" alt="Justin">
            <div class="card-body">
                <h5 class="card-title">Justin Lindsey</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://github.com/JusticeGTR" target="_blank" class="btn btn-primary">Github</a>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-3 bg-light mx-2 my-2">
            <img src="/assets/Melanie.jpg" class="card-img-top" alt="Melanie">
            <div class="card-body">
                <h5 class="card-title">Melanie Uhrich</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://github.com/melanieuhrich" target="_blank" class="btn btn-primary">Github</a>
            </div>
        </div>


    </div>
</div>
