    <div class="row justify-content-center reportSubmit mt-4">
        <button type="submit" class="btn btn-secondary"><a href="https://www.osha.gov/pls/osha7/eComplaintForm.html">Report This Company</a></button>
    </div>