<nav class="navbar navbar-light bg-light pt-5 ">
    <div class="container-fluid d-flex align-items-end">
        <a class="navbar-brand logo d-flex align-items-end" href="/"><img src="/assets/Logo/logo1.png" alt=""
                class="pe-3"> Rate My Workplace</a>
        <form class="d-flex">
            <a class="nav-link link-secondary" href="/query/resources">Resources</a>
            {{#if logged_in}}
            <a class="nav-link link-secondary" id='logout-button' href="">Logout</a>
            {{else}}
            <a class="nav-link link-secondary" href="/login">Log in/Sign up</a>
            {{/if}}
            <a class="nav-link link-secondary" href="/query/companies">Company List</a>
            <a class="nav-link link-secondary" href="/query/about-us">About Us</a>
        </form>
    </div>
</nav>

<main class="d-flex justify-content-center">
    <img src="/assets/pixel-art-business-workplace_2009874.jpg" alt="" class="img-fluid">
    <div class="searchBars shadow-lg p-3 mb-5 rounded position-absolute top-50 start-50 translate-middle">
        <div class="text-center">
            <h1 class="logo">Welcome!</h1>
            <p>
                Here at Rate My Workplace, we strive to create a place where we can keep businesses accountable for the
                space they create for their employees. We want to make sure everyone has a safe and fair workplace, no
                matter who they are. Browse nearby companies, search for businesses by industry, or find the specific
                jobsite you need. See where they land and add your own rating to the equation. </p>
        </div>

    </div>
</main>

{{#each companies as |company|}}

<div class="card bg-light" style="width: 18rem;">
    <div class="card-body">
        <!-- Might be wrong??? -->
        <a href="/company">
            <h5 class="card-title">{{company.name}}</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">{{company.location}}</h6>
        <p class="card-text">Our Rating: {{company.our_rating}}</p>
    </div>
</div>

{{/each}}