<div class="card" style="width: 18rem;">
  <img src="/assets/Osha_Header.PNG" class="card-img-top" alt="Osha">
  <div class="card-body">
    <h5 class="card-title">Osha Laws and Regulations</h5>
    <p class="card-text">Osha's compiled list of law's and regulations.</p>
    <a href="https://www.osha.gov/laws-regs" target="_blank" class="btn btn-primary">Go</a>
  </div>
</div>

